body{
  background-color: #8758FE;
}

.list_container{
  background-color: #1C1A41;
  /* border-radius: 3px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 75%;
  min-width: 75%;
}

.head{
  text-align: center;
  color: aliceblue;
  margin-top: 5%;
  font-size: 40px;
  font-family: sans-serif;
}

.place{
  text-align: center;
  margin-top: 3%;
  font-size: 40px;
  width: 100%;

}

.task_input{
  background-color: transparent;
  outline: none;
  border-color: #8758FE;
}

.submit_task{
  background-color: #8758FE;
  color: #fff;
  border-color: #8758FE;
}

.single-item-container{
  text-align: right;
  background-color: #8758FE;
  width: 60%;
}

form{
  width: 100%;
}